<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration </h2>
<form action="register" method="POST">
    {% csrf_token%}
    <input type="text" name="Username" placeholder="Username"><br>
    <input type="text" name="First_name" placeholder="Enter your first name"><br>
    <input type="text" name="Last_name" placeholder="Enter your last name"><br>
    <input type="email" name="Email" placeholder="Enter your Email address"><br>
    <input type="password" name="Password" placeholder="Enter your password"><br>
    <input type="password" name="Password_1" placeholder="Confirm your password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>